@import "../../responsive.scss";

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    transform: all 0.5s ease;

    @include phone {
      display: none;
    }

    &:hover {
      scale: 1.1;
      font-weight: bold;
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 30px;
      }

      span {
        @include tablet {
          display: none;
        }

        @include phone {
          display: initial;
        }
      }
    }
  }

  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #8da37f;
    height: 100%;

    @include tablet {
      background-color: transparent;
    }

    a {
      padding: 12px 24px;
      margin: 20px;
    }

    .signup {
      background-color: #f0ede3;
    }

    .menuIcon {
      display: none;
      z-index: 555;

      img {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }

      @include phone {
        display: inline;
      }
    }

    .menu {
      position: absolute;
      top: 0;
      right: -50%;
      background-color: black;
      color: white;
      height: 100vh;
      width: 50%;
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 22px;

      &.open {
        right: 0;
      }

      @include phone {
        a {
          display: initial;
        }
      }
    }
  }
}
