@import "./responsive.scss";

.layout {
  background-color: #f0ede3;
  height: 100vh;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;

  @include laptop {
    background-color: #f0ede3;
    max-width: 80%;
  }

  @include tablet {
    background-color: #f0ede3;
    max-width: 90%;
  }
  @include phone {
    background-color: #f0ede3;
    max-width: 100%;
  }
}

.content {
  flex: 1;
}
